root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.rs]
indent_style = space
indent_size = 4

[*.{ts,tsx,js,mjs,json,css,html,yml,yaml,sh}]
indent_style = space
indent_size = 2

# Makefile 和 .gitmodules 之类硬性要 tab 的在这儿开例外
[Makefile]
indent_style = tab
